{% extends "common_page_template.html" -%}
{% block head -%}
{{ super() }}
  <script src="/static/js/game.js"></script>
  <script src="/static/js/game_page.js"></script>
  <link href="/static/css/game.css" rel="stylesheet">
  <link href="/api/deck/{{ game.deck.name }}/dynamic.css" rel="stylesheet">
{% endblock -%}
{% block title %}{{ _('Game page') }}{% endblock %}
{% block body_tag -%}
<body>
{% endblock -%}
{% block content -%}
  <div ng-app="gamePage">
    <div ng-controller="gameController" ng-init="init('{{ game.deck.name }}')">
      {%- raw -%}
      <cardslot id="global_card_slot" global-card-slot="true"></cardslot>
      <cardslot id="deck_slot" style="margin-left: 20px" arrange-card-pos="true" cards-to-show=4></cardslot>
      <cardslot style="margin-left: 20px" arrange-card-pos="true" cards-to-show=4></cardslot>
      <cardslot style="margin-left: 20px" arrange-card-pos="false" cards-limit="2"></cardslot>
      {% endraw -%}
    </div>

    <script type="text/ng-template" id="cardActionButtonsPopover.html">
      <label>{{ _('What to do with card:') }}</label>
      <i class="popover-close-btn glyphicon glyphicon-remove" ng-click="gameboard.onCardPopoverCloseButtonClick(model)"></i>
      <div class="btn-group">
        <label class="btn btn-default" ng-click="gameboard.onCardOpenButtonClick(model)">{{ _('{{ model.isOpened ? "Close" : "Open" }}') }}</label>
        <label class="btn btn-default" ng-click="gameboard.onCardDetailsButtonClick(model)">{{ _('Details') }}</label>
        <label class="btn btn-default" ng-click="gameboard.onCardSelectButtonClick(model)">{{ _('{{ model.isSelected ? "Deselect" : "Select" }}') }}</label>
      </div>
    </script>
  </div>
{% endblock -%}