<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% block head %}
  <script src="/static/lib/jquery/js/jquery.js"></script>
  <script src="/static/lib/jquery/js/jquery-ui.js"></script>
  <script src="/static/lib/angular/js/angular.js"></script>
  <script src="/static/lib/angular/js/ui-bootstrap-tpls-1.3.3.js"></script>
  <link href="/static/lib/bootstrap/css/bootstrap.css" rel="stylesheet">
  <script src="/static/js/common.js"></script>
  <link href="/static/css/common.css" rel="stylesheet">
  <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
  {% endblock %}

  <!-- theme.css should be applied after the main header block in order to be able override any common style -->
  <link href="/static/css/theme.css" rel="stylesheet">

  <title>{% block title %}{{ _('Home') }}{% endblock %}</title>
</head>
{% block body_tag %}<body>{% endblock %}
{% block navbar %}
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">{{ _('Home Page') }}</a>
      </div>
      <div>
        <ul class="nav navbar-nav">
          <li {% if request.endpoint=='views.index_page' %} class='active'{% endif %} >
            <a href="{{ url_for('views.index_page') }}">{{ _('index page') }}</a>
          </li>
          <li {% if request.endpoint in 'views.games_manager, views.game_page' %} class='active'{% endif %} >
            <a href="{{ url_for('views.games_manager') }}">{{ _('game') }}</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% include 'user_topbar_widget.html' %}
        </ul>
      </div>
    </div>
  </nav>
{% endblock %}
{% block content %}{% endblock %}
{% block footer %}{% endblock %}
</body>
</html>