{% extends "common_page_template.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block title %}{{ _('Welcome page') }}{% endblock %}

{% block body_tag %}<body>{% endblock %}

{% block content %}
<a href="{{ url_for('views.start_new_game', deck='default') }}">{{ _('Start new game') }}</a>
<p>Existing games:</p>
<ul>
{% for game in games_list %}
    <li><a href="{{ url_for('views.game_page', game_id=game.game_id) }}">{{ _('Deck name: {}, game ID: {}').format(game.deck.name, game.game_id) }}</a></li>
{% endfor %}
</ul>
{% endblock %}