{% extends "common_page_template.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block title %}{{ _('Welcome page') }}{% endblock %}

{% block body_tag %}<body>{% endblock %}

{% block content %}
<ul>
    <li><a href="{{ url_for('views.games_manager') }}">{{'Games'}}</a></li>
    <li><a href="{{ url_for('views.start_new_game', deck='default') }}">{{'Start new game'}}</a></li>
    <li><a href="{{ url_for('views.profile_page') }}">{{'Profile'}}</a></li>
    <li><a href="{{ url_for('views.login_page') }}">{{'Login'}}</a></li>
    <li><a href="{{ url_for('views.logout') }}">{{'Logout'}}</a></li>
</ul>
{% endblock %}