<div class="login-form-container">
    <form class="form-horizontal" id="loginForm" ng-controller="loginFormController" ng-submit="submit()" ng-init="init()">
        <div class="form-group">
            <label class="control-label col-sm-5" for="loginForm.login">
                {{ _('Login or email') }}
            </label>
            <div class="col-sm-7">
                <input class="form-control" type="text" name="login" id="loginForm.login" ng-model="loginForm.login.data"/>
                <span class="help-inline" ng-repeat="error in loginForm.login.errors">{% raw %}{{ error }}{% endraw %}</span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-5" for="loginForm.password">
                {{ _('Password') }}
            </label>
            <div class="col-sm-7">
                <input class="form-control" required type="password" name="password" id="loginForm.password" ng-model="loginForm.password.data"/>
                <span class="help-inline" ng-repeat="error in loginForm.password.errors">{% raw %}{{ error }}{% endraw %}</span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-5" for="loginForm.remember_me">
                {{ _('Remember me') }}
            </label>
            <div class="col-sm-7">
                <small class="form-control inline-control" >
                    <input type="checkbox" name="remember_me" id="loginForm.remember_me" ng-model="loginForm.remember_me.data"/>
                    {{ _('allows you avoid the password input each time you visit this site') }}
                    <span class="help-inline" ng-repeat="error in loginForm.remember_me.errors">{% raw %}{{ error }}{% endraw %}</span>
                </small>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-5 col-sm-7">
                <input type="submit" class="btn btn-info btn-lg" id="loginForm.submit" ng-disabled="loginForm.$invalid" value="{{ _('Login') }}">
            </div>
        </div>
        <input type="hidden" name="csrf_token" ng-model="loginForm.csrf_token.data"/>
    </form>
</div>