{% extends "common_page_template.html" %}

{% block head %}
    {{ super() }}
    <script src="/static/lib/rsa/js/jsbn.js"></script>
    <script src="/static/lib/rsa/js/prng4.js"></script>
    <script src="/static/lib/rsa/js/rng.js"></script>
    <script src="/static/lib/rsa/js/rsa.js"></script>
    <script src="/static/js/login_page.js"></script>
    <link href="/static/css/login_page.css" rel="stylesheet">
{% endblock %}

{% block title %}{{ _('Login page') }}{% endblock %}

{% block content %}
    <div class="container" ng-app="loginPage">
        <ng-include src="'{{ url_for('views.login_form') }}'"/>
    </div>
{% endblock %}