{% extends "common_page_template.html" %}

{% block title %}{{ _('Customer profile page') }}{% endblock %}

{% block body_tag %}<body>{% endblock %}

{% block content %}
<ul>
    <li><a href="{{ url_for('views.login_page') }}">login</a></li>
    <li><a href="{{ url_for('views.logout') }}">logout</a></li>
    <li>user.login = {{ current_user.login }}</li>
    <li>user.name = {{ current_user.name }}</li>
    <li>user.is_registered = {{ current_user.is_registered }}</li>
    <li>user.is_anonymous = {{ current_user.is_anonymous }}</li>
    <li>user.roles = [ {% for role in current_user.roles %}{{ role }},{% endfor %} ] </li>
</ul>
{% endblock %}