<li id="user-topbar-widget" ng-controller="userController" user-topbar-widget
    class="user-topbar-widget-container {% if request.endpoint in 'views.user_profile_page, views.login_page' %}active{% endif %}">
    <a><i class="glyphicon glyphicon-user"></i>{{ current_user.name }}</a>
    <user-topbar-widget-popup class="user-topbar-widget-popup well well-lg" ng-show="popupVisible">
      {% if current_user.is_anonymous %}
        <span>{{ _('You are not logged in.') }}</span>
        <a type="button" class="btn btn-success btn-sm" href="{{ url_for('views.login_page') }}">{{ _('Log in') }}</a>
        <span>{{ _(' or ') }}</span>
        <a type="button" class="btn btn-info btn-sm" href="{{ url_for('views.register_page') }}">{{ _('Register') }}</a>
      {% else %}
        <a href="{{ url_for('views.profile_page') }}">{{ _('Profile details') }}</a>
        <a type="button" class="btn btn-warning btn-sm" href="{{ url_for('views.logout') }}">{{ _('Logout') }}</a>
      {% endif %}
    </user-topbar-widget-popup>
</li>
<script src="/static/js/user_topbar_widget.js"></script>