
#user-topbar-widget {
  position: relative;
}
#user-topbar-widget .glyphicon-user {
  margin-right: 5px;
}
.user-topbar-widget-popup {
  position: absolute;
  right: 0px;
  min-width: 200px;
  margin-top: -10px;
}