.navbar {
    z-index: 1000;
}

.card-slot {
    border: 1px black solid;
    border-radius: 10px;
    width: 300px;
    height: 360px;
    float: left;
    position: relative;
}

#global_card_slot {
    border: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 0px;
}

.card {
    width: 223px;
    height: 312px;
    /*border: 1px black solid;*/
    /*border-radius: 7px;*/
    /*background-color: #2b669a;*/
    position: absolute;
}

.card-inner-div {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
}

.card .popover {
    top: 50% !important;
    width: 280px;
    z-index: 200;
}

.card .popover .btn{
    width: 80px;
}

.popover-close-btn {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 5px;
    top: 8px;
    font-size: 20px;
}

.card-stack-0 {
    top: 0px;
    left: 0px;
    z-index: 1;
}
.card-stack-1 {
    top: 12px;
    left: 26px;
    z-index: 2;
}
.card-stack-2 {
    top: 24px;
    left: 52px;
    z-index: 3;
}
.card-stack-3 {
    top: 36px;
    left: 78px;
    z-index: 4;
}

.glow-green {
    box-shadow: 0px 0px 15px 15px rgba(0, 150, 0, .75);
}
.glow-yellow {
    box-shadow: 0px 0px 15px 15px rgba(150, 150, 0, .75);
}
.glow-green-yellow {
    box-shadow: 0px 0px 5px 5px rgba(0, 150, 0, .75), 0px 0px 15px 15px rgba(150, 150, 0, .75);
}
.glow-small-green {
    box-shadow: 0px 0px 5px 5px rgba(0, 150, 0, .75);
}
.glow-small-red {
    box-shadow: 0px 0px 5px 5px rgba(150, 0, 0, .75);
}